<h1>Listing paroisses</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paroisses.each do |paroiss| %>
      <tr>
        <td><%= paroiss.nom %></td>
        <td><%= link_to 'Show', paroiss %></td>
        <td><%= link_to 'Edit', edit_paroiss_path(paroiss) %></td>
        <td><%= link_to 'Destroy', paroiss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paroisse', new_paroiss_path %>
