<h1>Bienvenue !</h1>
<div class='row'>
	<div class='col-md-6'>
		<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title">Demander une messe</h3>
		  </div>
		  <div class="panel-body">
			Utilisez le bouton ci dessous pour plannifier une messe sur une paroisse<br/><br/>
			<a href="<%= don_messe_transactions_path %>" class="btn btn-success" role="button">Donner une nouvelle messe</a> <a href="<%= messe_transactions_path %>" class="btn btn-success" role="button">Décompter une messe</a>
		  </div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title">Enregistrer un don</h3>
		  </div>
		  <div class="panel-body">
			Utilisez le bouton ci dessous pour enregistrer un don d'une ou plusieurs messes<br/><br/>
			<a href="<%= don_transactions_path %>" class="btn btn-success" role="button">Enregistrer un don</a>
		  </div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title">Consulter le planning</h3>
		  </div>
		  <div class="panel-body">
			Utilisez le bouton ci dessous pour consulter le planning des prochaines messes<br/><br/>
			<a href="<%= planning_clochers_path %>" class="btn btn-success" role="button">Consulter le planning</a>
		  </div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title">Consulter les soldess</h3>
		  </div>
		  <div class="panel-body">
			Utilisez le bouton ci dessous pour consulter les soldes<br/><br/>
			<a href="<%= morts_path %>" class="btn btn-success" role="button">Consulter les soldes</a>
		  </div>
		</div>
	</div>
</div>