<h1>Liste des clochers</h1>

<table class='table'>
  <thead>
    <tr>
	 <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clochers.each do |clocher| %>
      <tr>
		<td><%= clocher.nom %></td>
        <td><%= link_to 'Montrer', clocher %></td>
        <td><%= link_to 'Editer', edit_clocher_path(clocher) %></td>
        <td><%= link_to 'Supprimer', clocher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Clocher', new_clocher_path %>
