<h1>Liste des personnes d&eacute;c&eacute;d&eacute;es</h1>

<a href="<%= new_mort_path %>" class="btn btn-success" role="button">Nouvelle personne  décédée</a><BR>
<% clocher="" %>
<% @morts.each do |mort| %>
<% if mort.nom_clocher != clocher %>
<% if clocher!="" %><%# closes previous table %>
  </tbody>
</table>
</div>
</div>
<%end%>
<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title"><%= mort.nom_clocher%></h3>
		  </div>
		  <div class="panel-body">
<table class='table'>
  <thead>
    <tr>
      <th>Clocher</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Prenom2</th>
      <th>Date de deces</th>
      <th>Solde</th>
      <th>Planification libre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<%end%>
<% clocher= mort.nom_clocher %>
      <tr>
        <td><%= mort.nom_clocher %></td>
        <td><%= mort.nom %></td>
        <td><%= mort.prenom %></td>
        <td><%= mort.prenom2 %></td>
        <td><%= mort.date_de_deces.nil? ? '-' : l(mort.date_de_deces) %></td>
        <td><span class="badge"><%= mort.solde %></span></td>
        <td><span class="glyphicon glyphicon-<%= mort.planification_libre ? "ok" : "remove"  %>"> </span></td>
		<td><%= link_to 'Historique', historique_mort_path(mort) %>
        <td><%= link_to 'Montrer', mort %></td>
        <td><%= link_to 'Editer', edit_mort_path(mort) %></td>
        <td><%= link_to 'Supprimer', mort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
<br>


<a href="<%= new_mort_path %>" class="btn btn-success" role="button">Nouvelle personne  décédée</a>
