<h1>Liste des personnes d&eacute;c&eacute;d&eacute;es</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date de deces</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @morts.each do |mort| %>
      <tr>
        <td><%= mort.nom %></td>
        <td><%= mort.prenom %></td>
        <td><%= mort.date_de_deces %></td>
        <td><%= link_to 'Montrer', mort %></td>
        <td><%= link_to 'Editer', edit_mort_path(mort) %></td>
        <td><%= link_to 'Supprimer', mort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle personne  décédée', new_mort_path %>
