<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :montant %>
    <%= f.input :numero_de_piece %>
    <%= f.input :commentaire %>
    <%= f.association :mort %>
    <%= f.association :donnateur %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: ['btn', 'btn-primary'], :value => 'Faire un don' %>
  </div>
<% end %>
