<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :montant,:value => -1 %>
    <%= f.input :commentaire %>
    <%= f.association :mort %>
    <%= f.association :donnateur %>
    <%= f.association :paroisse %>
	<%= f.input :date_effet %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: ['btn', 'btn-primary'], :value => 'Plannifier la messe' %>
  </div>
<% end %>
