<h1>Listing des transactions</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Montant</th>
      <th>Date effet</th>
      <th>Numero de piece</th>
      <th>Commentaire</th>
      <th>Mort</th>
      <th>Donnateur</th>
      <th>Clocher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.montant %></td>
        <td><%= transaction.date_effet %></td>
        <td><%= transaction.numero_de_piece %></td>
        <td><%= transaction.commentaire %></td>
        <td><%= transaction.mort %></td>
        <td><%= transaction.donnateur %></td>
        <td><%= transaction.clocher %></td>
        <td><%= link_to 'Montrer', transaction %></td>
        <td><%= link_to 'Editer', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Detruire', transaction, method: :delete, data: { confirm: 'Etes vous sur?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

